node_modules/
.vscode/
public/css/cart.css:Zone.Identifier
public/css/forms.css:Zone.Identifier
public/css/main.css:Zone.Identifier
public/css/orders.css:Zone.Identifier
public/css/product.css:Zone.Identifier
public/js/main.js:Zone.Identifier
views/404.ejs:Zone.Identifier
views/admin/edit-product.ejs:Zone.Identifier
views/admin/products.ejs:Zone.Identifier
views/includes/end.ejs:Zone.Identifier
views/includes/head.ejs:Zone.Identifier
views/includes/navigation.ejs:Zone.Identifier
views/shop/cart.ejs:Zone.Identifier
views/shop/checkout.ejs:Zone.Identifier
views/shop/index.ejs:Zone.Identifier
views/shop/product-list.ejs:Zone.Identifier
views/shop/product-detail.ejs:Zone.Identifier
views/shop/orders.ejs:Zone.Identifier
app.js:Zone.Identifier
